.footerContainer {
  min-height: 100vh;
  position: relative;
  padding-bottom: 3rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #8556d6;
  color: black;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  height: 100px;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.footerLinks a {
  color: black;
  text-decoration: none;
}

.footerLinks a:hover {
  text-decoration: underline;
}
